button {
    height: 35px;
    width: 35px;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.button-nav{
    width: 100px;
    height: 72px;
    background: rgba(120, 120, 120, 0.8);
    /* border-radius: 50%; */
    font-size: 20px;
}

.send {
    width: 25px;
    stroke: red;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.heart {
    width: 25px;
    stroke: red;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.heart-fill {
    fill: red;
}

.trolly{
    width: 25px;
    height: 25px;
}
.st0{
    fill:#3B4652;
}
.st1{
    fill:#2B79C2;
}