input[type="text"] {
    height: 35px;
    width: 200px;
    background: rgba(255, 255, 255, 0.199);
    padding: 10px 14px;
    border:1px solid var(--mainBorderColor);
    border-radius: 10px;
    color: var(--mainFontsColor);
    outline: none;
    transition: border-color .15s, box-shadow .15s;
}

input[type="text"]:focus{
    border-color: var(--headlineColor);
    box-shadow: 0 0 0 3px #d4af373d;
}

input[type="text"]::placeholder{
    color: rgba(255, 255, 255, 0.562);
}